/* GLOBAL */

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

ul, ol{
    padding: 0;
}

a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

.upperBar{
    background: black;
}

.upperBar a{
    color: white;
}

.backColor, .backColor a{
    background: #47bac1;
    color: white;
}

/* SOCIAL MEDIA */

.socialNetwork{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

/* FACEBOOK */

.facebookWhite{
    color: white;
}

.facebookBlack{
    color: black;
}

/* YOUTUBE */

.youtubeWhite{
    color: white;
}

.youtubeBlack{
    color: black;
}

/* TWITTER */

.twitterWhite{
    color: white;
}

.twitterBlack{
    color: black;
}

/* GOOGLE */

.googleWhite{
    color: white;
}

.googleBlack{
    color: black;
}

/* INSTAGRAM */

.instagramWhite{
    color: white;
}

.instagramBlack{
    color: black;
}

/* LARGE SCREEN (LG from 1336px to more) */

@media(min-width:1200px){

    .col-lg-0{
        display: none;
    }
}

/* MEDIUM SCREEN (MD from 1024px) */

@media(max-width:1199px) and (min-width:992px){

    .col-md-0{
        display: none;
    }
}

/* SMALL SCREEN (SM from 768px) */

@media(max-width:991px) and (min-width:768px){

    .col-sm-0{
        display: none;
    }
}

/* MOBILE SCREEN (XS from 320px) */

@media(max-width:767px){

    .col-xs-0{
        display: none;
    }
}